main, section{
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 8vw;
}

section{
    font-family: 'Open Sans', sans-serif;
}

#section-one{
    background-image: url("");
}

#section-two{
    background-image: url("");
}

#section-three{
    background-image: url("");
}

#section-four{
    background-image: url("");
}